
.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
   .form-input {
    border: 1px solid #808080;
        border-radius: 4px;
        width: 360px;
        height: 40px;
   }
   .form-input:hover {
    border: 1px solid #000;
   }
   .form-textarea {
    border: 1px solid #808080;
        border-radius: 4px;
        width: 360px;
        height: 80px;
    margin-bottom: 16px;
   }
   .form-textarea:hover {
       border: 1px solid #000;
   }
   .form-label {
    display: block;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #2e2f42;
    margin-bottom: 8px;
    width: 100%;
        text-align: left;
   }
   .form-input:focus,
   .form-textarea:focus {
       outline: none;
   }
   .form-btn {
    min-width: 95px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #4e75ff;
    color: #ffffff;
   
   }
   .form-btn:hover {
    background-color: #6C8CFF;
   }
   ul {
       list-style-type: none;
       margin: 0;
       padding-left: 0;
   }

   a {
       text-decoration: none;
   }

   .gallery {
       display: flex;
       gap: 24px;
       flex-wrap: wrap;
   }

   .gallery-image {
       width: 340px;
       height: 200px;
    }
           .modal {
               width: 1112pvpx;
               height: 640px;
               padding: 28px 164px;
               user-select: none;
               background-color: rgba(46, 47, 66, 0.8);
               box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
               border-radius: 8px;
               display: flex;
               flex-direction: column;
               align-items: center; }
  